{% extends "base.html" %}
{% block content %}
<div class='bg-dark'>
<nav class="navbar navbar-expand-lg navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/ticker/{{page_data['ticker']['ASX code']}}/info" class="nav-link">Info</a> 
        </li>
          <li class="nav-item"> 
              <a href="/ticker/{{page_data['ticker']['ASX code']}}/cash_flow" class="nav-link">Cash Flow</a> 
        </li>
        <li class="nav-item"> 
              <a href="/ticker/{{page_data['ticker']['ASX code']}}/balance_sheet" class="nav-link">Balance Sheet</a> 
        </li>
        <li class="nav-item"> 
              <a href="/ticker/{{page_data['ticker']['ASX code']}}/income_statement" class="nav-link">Income Statement</a> 
        </li>
    </ul>
</nav>
<hr/>
</div>

<h2> {{ page_data.page_title }}: {{ page_data['ticker']['Company name']}} - {{ page_data['ticker']['ASX code']}} </h2>
<hr/>
<h4> Cash Flow Statements: </h4>
<br/> <br/>
    
{{ table | safe }}
{% endblock %}