{% extends "base.html" %}
{% block content %}
    <div class="container bg-primary text-white p-4">
    <h2> Welcome to ASX_DB </h2>

    </div>
    <br/>
    <p>
        This application is an interface to a database of fundamental financial data for companies listed on the Australian Stock Exchange (ASX).
    </p>
    <p>
        This is a fully cloud native application that has been developed using the <a href=https://www.serverless.com/>serverless</a> framework. 
        It has been designed to be scalable and reliable whilst incurring minimal hosting fees.
    </p>
    <p>
        This application demonstrates full stack web development and has been built using:  
    </p>
        <ul>
            <li>Serverless Framework</li>
            <li>AWS Lambda</li>
            <li>AWS DynamoDB (NoSQL)</li>
            <li>Flask - Python Web Framework</li>
            <li>Jinja2 - Python Templating Library</li>
            <li>Pandas - Python Data Analysis Library</li>
        </ul>


        Find more about the development of this project, <a href=https://github.com/l-j-g/T3A3_asx_app>here</a>.
    </p>
{% endblock %}