{% extends "base.html" %}
{% block content %}
    <div class="container bg-primary text-white p-4">
        <h2> Welcome to ASX_DB </h2>

    </div>
    <br/>
    <p>
        This application is an interface to a database of fundamental financial data for companies listed on the Australian Stock Exchange (ASX).
    </p>
        This is a fully cloud native application that has been developed using the <a href=https://www.serverless.com/>serverless</a> framework.
        It is designed to be scalable and reliable whilst incurring minimal hosting fees.

        This application demonstrates full stack web development capabilities using the Flask framework in combination with:  

        <ul>
            <li>AWS Lambda</li>
            <li>AWS DynamoDB</li>
            <li>jinja</li>
            <li>Pandas</li>
        </ul>


        Find more about the development of this project, <a href=https://github.com/l-j-g/T3A3_asx_app>here</a>.
    </p>
{% endblock %}