{% extends "base.html" %}
{% block content %}
    <div class="container bg-primary text-white p-4">
    <h2> Welcome to ASX_DB </h2>

    </div>
    <br/>
    <p>
        This application is an interface to a database of fundamental financial data for companies listed on the Australian Stock Exchange (ASX).
    </p>
    <p>
        This is a fully cloud native application that has been developed using the <a href=https://www.serverless.com/>serverless</a> framework. 
        It has been designed to be scalable and reliable whilst incurring minimal hosting fees.
    </p>
    <p>
        This application demonstrates full stack web development and has been built using:  
    </p>
        <ul>
            <li>Serverless Framework</li>
            <li>AWS Lambda</li>
            <li>AWS DynamoDB (NoSQL)</li>
            <li>Flask - Python Web Framework</li>
            <li>Jinja2 - Python Templating Library</li>
            <li>Pandas - Python Data Analysis Library</li>
        </ul>

    <p>
        Features:
        <ul>
            <li> Severless deployment that leverages over 67 CloudFormation resources - including AWS Lambda. </li>
            <li> Auto scaling DynamoDB read/write capacity. </li>
            <li> Python Requirments are packaged as a seperate Lambda Layer. </li>
            <li> Lambda functions are kept warm to prevent cold-starts. </li> 
            <li> General infomation, cash flow, balance sheet and income statement date is stored each listed company. </li>
            <li> Fresh data is fetched every 2 minutes by a cron job function for the oldest ticker data in the database. </li>
            <li> Threaded mutliprocessing to speed up execution time (4x) of scraping function. </li>
            <li> 6 Global Secondary Indexes allows searches to be sorted by Ticker, Name, Market Cap, GICs group, Date Listed and Date Updated. </li>
        <ul>
    </p>

        Find more about the development of this project, <a href=https://github.com/l-j-g/T3A3_asx_app>here</a>.
    </p>
{% endblock %}